//Couleurs principales
$violet-primaire: #9356DC;
$rose-secondaire: #FF79DA;
$aqua-tertiaire: #99E2D0;

//Couleur secondaires
$gris-sombre: #353535;
$gris-clair: #F7F7F7;
$gris-clair2: #EAEAEA;

//Textes
$txt-fond-clair: #000000;
$txt-fond-sombre: #ffffff;
$txt-fond-vert: #008766;
$icone-gris: #7E7E7E;


$layout-breakpoint-tab: "768px";
$layout-breakpoint-desk: "1024px";