/* Import des utilitaires */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
main .main_restaurants, main .restaurants, main .fonctionnement, header, .main_restaurants ul, .fonctionnement ol {
  display: grid;
  align-items: center;
  justify-content: center;
}

main .main_restaurants .main_restaurants__img, main .restaurants ul li a img, main .sectionsearch form, body, .main_restaurants ul li, .main_restaurants ul, .fonctionnement button {
  width: 100%;
}

.main_restaurants button, .sectionsearch button {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

.main_restaurants ul li, .main_restaurants button, .fonctionnement button, .sectionsearch button {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

@keyframes loader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes appear {
  0% {
    transform: translateX(-2em);
  }
  100% {
    transform: translateX(0em);
    opacity: 1;
  }
}
@keyframes textwidth {
  0% {
    width: 300px;
  }
  100% {
    width: 200px;
  }
}
@keyframes textwidthout {
  0% {
    width: 200px;
  }
  100% {
    width: 300px;
  }
}
/* Import des components */
.sectionsearch button {
  border: 5px;
  border-radius: 50px;
  padding: 25px 40px 25px 40px;
  margin-top: 25px;
  color: white;
  font-size: 17px;
}

.sectionsearch button:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}

.fonctionnement button {
  border: 5px;
  border-radius: 25px;
  padding: 25px;
  margin-top: 25px;
  background-color: #F7F7F7;
}

.fonctionnement button {
  font-size: 17px;
  text-decoration: none;
  color: black;
}
.fonctionnement button:hover {
  font-size: 18px;
}
.fonctionnement button:hover i {
  transform: scale(1.1);
}
.fonctionnement button:hover .fa-solid {
  font-size: 25px;
  color: #9356DC;
}

.main_restaurants button {
  border: 5px;
  border-radius: 50px;
  padding: 25px 60px 25px 60px;
  width: 65%;
  display: block;
  margin: 50px auto;
}
@media (min-width: 768px) {
  .main_restaurants button {
    width: 35%;
  }
}
@media (min-width: 1024px) {
  .main_restaurants button {
    width: 25%;
  }
}

.main_restaurants:hover button:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}

.restaurants ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .restaurants ul {
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media (min-width: 1024px) {
  .restaurants ul {
    padding-left: 5em;
    padding-right: 5em;
  }
}
.restaurants ul li {
  border-radius: 20px;
  width: 90%;
  height: 18em;
  background-color: #ffffff;
  position: relative;
}
@media (min-width: 768px) {
  .restaurants ul li {
    height: 29em;
  }
}
@media (min-width: 1024px) {
  .restaurants ul li {
    height: 25em;
  }
}

.fonctionnement ol {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-left: 50px;
  gap: 25px;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .fonctionnement ol {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
}
@media (min-width: 1024px) {
  .fonctionnement ol {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 5em;
    padding-right: 5em;
  }
}
.fonctionnement ol li {
  width: 95%;
  position: relative;
}

.main_restaurants ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
}
@media (min-width: 768px) {
  .main_restaurants ul {
    padding-right: 4em;
    padding-left: 4em;
  }
}
@media (min-width: 1024px) {
  .main_restaurants ul {
    padding-right: 12em;
    padding-left: 12em;
  }
}
.main_restaurants ul li {
  border: 5px;
  border-radius: 25px;
  padding: 20px;
  position: relative;
  background-color: #ffffff;
}
.main_restaurants ul .liste {
  animation: appear 1000ms forwards;
  opacity: 0;
}
.main_restaurants ul .liste--1 {
  animation-delay: 200ms;
}
.main_restaurants ul .liste--2 {
  animation-delay: 400ms;
}
.main_restaurants ul .liste--3 {
  animation-delay: 600ms;
}
.main_restaurants ul .liste--4 {
  animation-delay: 800ms;
}
.main_restaurants ul .liste--5 {
  animation-delay: 1000ms;
}
.main_restaurants ul .liste--6 {
  animation-delay: 1200ms;
}
.main_restaurants ul .liste--7 {
  animation-delay: 1400ms;
}
.main_restaurants ul .liste--8 {
  animation-delay: 1600ms;
}
.main_restaurants ul .liste--9 {
  animation-delay: 1800ms;
}

main h1 {
  font-size: 30px;
  text-align: center;
  font-family: "Shrikhand", cursive;
  margin-top: 25px;
}
main h3 {
  font-size: 24px;
}

.sectionsearch h2 {
  padding: 0px 70px 0px 70px;
  font-size: 24px;
  text-align: center;
}

.fonctionnement h2 {
  margin-left: 40px;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .fonctionnement h2 {
    margin-left: 3.3em;
  }
}
@media (min-width: 1024px) {
  .fonctionnement h2 {
    margin-left: 4.8em;
  }
}

.restaurants h2 {
  margin-top: 40px;
  margin-bottom: 25px;
  margin-left: 40px;
}
@media (min-width: 768px) {
  .restaurants h2 {
    margin-left: 3.3em;
  }
}
@media (min-width: 1024px) {
  .restaurants h2 {
    margin-left: 4.8em;
  }
}
.restaurants h3 {
  font-size: 18px;
  font-weight: 700;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.main_restaurants .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  text-align: center;
  font-family: "Shrikhand", cursive;
  margin-top: 10px;
  position: relative;
}
.main_restaurants .subtitle {
  margin-top: 40px;
  margin-bottom: 15px;
  margin-left: 5px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
}
@media (min-width: 768px) {
  .main_restaurants .subtitle {
    margin-left: 4.3em;
  }
}
@media (min-width: 1024px) {
  .main_restaurants .subtitle {
    margin-left: 12.5em;
  }
}
.main_restaurants .subtitle::after {
  content: "";
  display: block;
  background-color: #99E2D0;
  width: 60px;
  height: 4px;
  margin-top: 5px;
}
.main_restaurants h3 {
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  animation: textwidthout;
  animation-duration: 1s;
}

@media (max-width: 600px) {
  li:hover h3 {
    animation: textwidth;
    animation-duration: 1s;
    width: 200px;
  }
}
.heartdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart {
  position: relative;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 30px;
}
.heart .heart1 {
  display: block;
  transform: scale(1);
  transition: all 1s;
}
.heart .heart2 {
  display: block;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: all 1s;
  background-image: linear-gradient(0deg, #FF79DA, #9356DC);
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart:hover .heart1 {
  transform: scale(0);
  opacity: 0;
}
.heart:hover .heart2 {
  transform: scale(1);
  opacity: 1;
}

/* Import des layouts */
header {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  color: #000000;
}
header a img {
  margin-bottom: 30px;
  margin-top: 45px;
  object-fit: cover;
  width: 19em;
}
header .fa-arrow-left {
  left: 25px;
  position: absolute;
  color: #000000;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  max-width: 100%;
}
body .loader {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10em;
  z-index: 1;
  animation: 1s loader 3000ms ease forwards;
}
body .loader i {
  color: #9356DC;
}

main .sectionsearch form {
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  padding: 30px;
  margin-left: 15px;
}
main .sectionsearch form input {
  font-size: 16px;
  background-color: #EAEAEA;
  border: 0px;
  text-align: center;
  font-weight: 500;
}
main .sectionsearch .reservations {
  background-color: #F7F7F7;
  height: 24em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main .sectionsearch .reservations .entete {
  font-size: 18px;
  text-align: center;
  padding: 25px;
}
main .sectionsearch .reservations .btnsearch a {
  color: #F7F7F7;
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
}
main .fonctionnement {
  grid-template-columns: repeat(1, 1fr);
}
main .fonctionnement ol li button span {
  font-size: 14px;
  position: absolute;
  left: -19px;
  top: 48px;
  border: none;
  background-color: #9356DC;
  border-radius: 35px;
  padding: 8px 13px 8px 13px;
  color: #ffffff;
}
main .fonctionnement ol li button .fa-solid {
  font-size: 25px;
  color: #7E7E7E;
  margin-right: 15px;
}
main .fonctionnement ol li button a {
  font-size: 16px;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  margin-left: 15px;
}
main .restaurants {
  grid-template-columns: repeat(1, 1fr);
  padding: 0 0 4em;
  background-color: #F7F7F7;
  margin-top: 4em;
}
@media (min-width: 768px) {
  main .restaurants {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 1024px) {
  main .restaurants {
    grid-template-columns: repeat(1, 1fr);
  }
  main .restaurants ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 35px;
  }
}
main .restaurants ul li a {
  color: #000000;
  text-decoration: none;
  position: relative;
}
main .restaurants ul li a img {
  height: 12em;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}
@media (min-width: 768px) {
  main .restaurants ul li a img {
    height: 22em;
  }
}
@media (min-width: 1024px) {
  main .restaurants ul li a img {
    height: 18em;
  }
}
main .restaurants ul li a p {
  font-size: 17px;
  font-weight: 300;
  margin-left: 25px;
}
main .restaurants ul li a .nouveau {
  position: absolute;
  bottom: 13em;
  right: 40px;
  padding: 10px 20px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 16px;
}
@media (min-width: 768px) {
  main .restaurants ul li a .nouveau {
    bottom: 22em;
    right: 45px;
    padding: 14px 30px;
  }
}
@media (min-width: 1024px) {
  main .restaurants ul li a .nouveau {
    bottom: 18em;
    right: 45px;
    padding: 14px 30px;
  }
}
main .restaurants ul li a .heart {
  position: absolute;
  right: 2.5rem;
  bottom: 14px;
  font-size: 30px;
}
main .main_restaurants {
  grid-template-columns: repeat(1, 1fr);
  padding: 0 0 0;
  background-color: #F7F7F7;
}
@media (min-width: 768px) {
  main .main_restaurants {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 1024px) {
  main .main_restaurants {
    display: grid;
    justify-items: center;
    background-color: #ffffff;
  }
}
main .main_restaurants button {
  font-size: 16px;
  color: #ffffff;
}
main .main_restaurants .main_restaurants__img {
  margin: 0 0 -5em 0;
  border-style: none;
  height: 25em;
  object-fit: cover;
}
main .main_restaurants .main_restaurants_carte {
  padding: 2em 1em 0;
  background-color: #F7F7F7;
  border-radius: 3em 3em 0 0;
}
@media (min-width: 1024px) {
  main .main_restaurants .main_restaurants_carte {
    width: 85%;
  }
}
main .main_restaurants .main_restaurants_carte h1 i {
  margin-left: 40px;
}
main .main_restaurants .main_restaurants_carte ul li {
  position: relative;
  overflow: hidden;
}
main .main_restaurants .main_restaurants_carte ul li p {
  margin-top: 12px;
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  animation: textwidthout;
  animation-duration: 1s;
}
@media (max-width: 600px) {
  main .main_restaurants .main_restaurants_carte ul li p {
    max-width: 240px;
  }
}
main .main_restaurants .main_restaurants_carte ul li .prix {
  position: absolute;
  right: 2rem;
  bottom: 18px;
  font-weight: 700;
  transition: all 1s;
}
main .main_restaurants .main_restaurants_carte ul li span {
  position: absolute;
  top: 0;
  right: -5rem;
  width: 5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #ffffff;
  background: #99E2D0;
  transition: all 1s;
}
main .main_restaurants .main_restaurants_carte ul li span .fa-check-circle {
  transform: rotate(-240deg);
  transition: all 1.5s;
}
@media (max-width: 600px) {
  main .main_restaurants .main_restaurants_carte ul li:hover p {
    animation: textwidth;
    animation-duration: 1s;
    width: 200px;
  }
}
main .main_restaurants .main_restaurants_carte ul li:hover .prix {
  right: 6.5rem;
}
main .main_restaurants .main_restaurants_carte ul li:hover span {
  right: 0;
}
main .main_restaurants .main_restaurants_carte ul li:hover span i {
  transform: rotate(0deg);
}

footer {
  background-color: #353535;
  height: 15em;
}
footer section {
  margin-left: 15px;
}
footer h2 {
  font-family: "Shrikhand";
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  padding: 25px;
}
footer ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
footer li {
  padding: 10px;
  margin-left: 25px;
}
footer a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
}
footer .fa-solid {
  font-size: 15px;
  color: #ffffff;
  margin-right: 15px;
}
@media (min-width: 1024px) {
  footer {
    height: 8em;
  }
  footer section {
    display: flex;
    flex-direction: row-reverse;
  }
  footer h2 {
    margin-top: 44px;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    margin-top: 61px;
  }
}
